<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{!-- <h1>ESTO VIENE DE UN LOCAL {{info}}
    </h1> --}}

    {{{body}}}
  </body>
</html>
