<p>Holiii</p>

{{#with travels}}
  {{#foreach}}
    <h1>{{country}}</h1>
    <p>
      El viaje a {{country}} ha sido añadido correctamente.
      Su precio es de {{price}}€ y tiene un descuento de {{discount}}.
    </p>
  {{/foreach}}
{{/with}}